#navbar{
  padding-left: 70px;
  padding-right: 70px;
}

#pdf{
  height: 700px;
  margin: 2em auto;
}

#userinfo{
  padding-top: 70px;
  margin-top: 70px;
}

#uploaddoc{
  padding-bottom: 550px;
}

#uploadform{
  height: 300px;
  margin-top: 100px;
}

.showpdfdiv{
  height: 700px;
}

#myupload{
    margin-bottom: 300px;
}

#docresult{
  margin-top: 70px;
}
