{% extends "base.html" %}

{% block container %}
<div class="container">
   <div class="row" >
    {% for r in rs %}
      <div id = "pdfofindex " class="col-xs-12 col-sm-3 col-md-3" >
        <center><h3>{{r['name']}}</h3></center>
        <div class="col-xs- col-sm-6 col-md-6">
          {% if not r['cover'] == "" %}
            <img src="{{ static_url(r['cover']) }} " class="img-thumbnail">
          {% else %}
            <img src="{{ static_url('images/uname.jpg')}}" class="img-thumbnail" >
          {% end %}
          <!--</a>-->
        </div>
        <div class="col-xs- col-sm-6 col-md-6">
          <p>{{ r['desc'] }}</p>
          <a href="doc/{{r['id']}} "<button type="button" class="btn btn-default">view</button></a>
        </div>
      </div>
    {% end %}
   </div>
</div>
{% end %}